.page-header
  %h1 Members

.row
  .col-md-10.col-md-offset-1
    %table{class: "table table-striped"}
      %thead
        %tr
          %th Username
          %th Joined On
          %th Posts

      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user, user
            %td= l user.created_at
            %td= user.posts.count
