.page-header
  %h1 Welcome to Relationship Forum!

.col-md-10.col-md-offset-1
  %p
    Relationship Forum has been live since June 2014. Our goal is simple: to give the best dating &amp; relationship advice, and build a community where people can come for support. Our promise is this:

  %ol
    %li We will never put ads on the site, or financially profit in any way.
    %li We will keep your email, data, and other sensitive information secure.
    %li If you request to have your account and posts deleted, we will do so.
