.col-sm-10.col-sm-offset-1
  - @submission.posts.each do |post|
    .panel
      .panel-heading
        %span.panel-title
          %i.panel-title-icon.fa.fa-heart
          Written
          = time_ago_in_words post.created_at
          ago
          = "(#{l post.created_at})"
