.col-sm-10.col-sm-offset-1
  .posts-wrapper
    - @submission.posts.order("created_at DESC").each do |post|
      = render post

  .message-details-reply
    - if user_signed_in?
      = form_for [@submission, @submission.posts.new], { remote: true, html: { id: "message-details-reply" } } do |f|
        = f.text_area :body, class: "form-control", rows: 5
        .expanding-input-hidden{style: "margin-top: 10px;"}
          %button.btn.btn-primary.pull-right Send Message
    - else
      %p Sign in to reply!
