.page-header
  %h1 Edit Post

.col-sm-10.col-sm-offset-1
  = form_for @post do |f|
    = f.text_area :body, rows: 15, class: "form-control markdown"

    .pull-right
      %button.btn.btn-primary{type: "submit", style: "margin-top: 10px"} Submit Edit
