- content_for :body_class, "page-mail"

- content_for :mailnav do
  .mail-nav
    .compose-btn
      %button.btn.btn-primary.btn-labeled.btn-block#new-conversation
        %i.btn-label.fa.fa-pencil-square-o>
        New Conversation
    .navigation.open
      %ul.sections
        - @conversations.each do |conversation|
          %li{class: @conversation == conversation ? "active" : ""}
            %a{href: conversation_path(conversation)}
              %i.m-nav-icon.fa.fa-heart>
              = conversation_title(conversation)
              - if (unread_count = unread_messages(conversation)) > 0
                %span.label.pull-right
                  = unread_count

= render template: "layouts/application"
